<section>
  <ng-container *ngFor="let field of fields">
    <mat-form-field *ngIf="field.type === 'select'">
      <mat-label>{{ field.label }}</mat-label>
      <mat-select (selectionChange)="applyFilter($event, 'select')">
        <mat-option *ngFor="let option of field.options" [value]="option.value">
          {{option.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="field.type === 'input-search'">
      <mat-label>{{ field.label }}</mat-label>
      <input matInput (keyup)="applyFilter($event, 'input')" #input>
    </mat-form-field>
  </ng-container>
</section>
