<mat-progress-bar *ngIf="loadingData" mode="indeterminate"></mat-progress-bar>
<ng-container *ngIf="!loadingData">
    <div class="container">
        <app-filter-panel
            [fields]="levelFilterConfig"
            (searchEvent)="onSearch($event)"
        ></app-filter-panel>
        <button mat-flat-button color="primary" (click)="newGrade()">Crear grado</button>
    </div>
    <app-datatable
        [searchValue]="searchValue"
        [columnDefinition]="columnDefinition"
        [dataSource]="dataSource"
        (actionEvent)="onActionEvent($event)"
    >
    </app-datatable>
</ng-container>
