.drawer-container
  width: 100%
  height: 88%

.drawer-sidenav-content
  display: flex
  height: 100%
  align-items: center
  justify-content: center
  background-color: white

.drawer-sidenav
  padding: 20px
  border: none
  background-color: whitesmoke

.spacer
  flex: 1 1 auto

.mat-mdc-list-item-icon
  color: rgba(0, 0, 0, 0.54)